
<template>
  <div id="app" style="background-color: rgba(0, 0, 0, 0);">
    <div>
      <h1 class="title">Formulário de Coletas</h1>
    </div>

    <div>
      <table class="left-align increased-width" style="padding-left: 80px;"> 
        <thead>
          <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Tipo de residuo</th>
            <th>Massa coletada em toneladas</th>
            <th>Volume coletado em toneladas</th>
            <th>Deletar</th>
            <th>Edições</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(member, index) in members" :key="member.id">
            <td>{{ member.id }}</td>
            <td>{{ member.fname }}</td>
            <td>{{ member.tipo }}</td>
            <td>{{ member.massa }}</td>
            <td>{{ member.volum }}</td>
            <td>
              <button @click="deleteMember(member.id)">Excluir</button>
            </td>
            <td>
              <button @click="editMember(member)">Editar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

        <!-- Formulário de edição -->
        <div v-if="editingMember">
      <section class="add-more">
        <p class="paragraph">Editar registro de coletas:</p>
        <form>
          <label for="fname">Nome:</label><br>
          <input type="text" id="fname" name="fname" v-model="editingMember.fname"><br>

          <label for="tipo">Tipo de resíduo:</label><br>
          <select name="tipo" id="tipo" v-model="editingMember.tipo">
            <option value="Papel">Papel</option>
            <option value="Plástico">Plástico</option>
            <option value="Metal">Metal</option>
            <option value="Vidro">Vidro</option>
            <option value="Orgânico">Orgânico</option>
            <option value="Não reciclável">Não Orgânico</option>
          </select>
          <br><br>

          <label for="massa">Massa em toneladas:</label><br>
          <input type="text" id="massa" name="massa" v-model="editingMember.massa"><br>

          <label for="volum">Volume em toneladas:</label><br>
          <input type="text" id="volum" name="volum" v-model="editingMember.volum"><br>

          <input type="button" value="Salvar" @click="saveEditedMember">
          <input type="button" value="Cancelar" @click="cancelEdit">
        </form>
      </section>
    </div>

    <div v-if="!editingMember">
      <section class="add-more">
        <p class="paragraph">Adicionar registro de coletas:</p>
        <form>
          <label for="fname">Nome:</label><br>
          <input type="text" id="fname" name="fname" v-model="newMember.fname"><br>

          <label for="tipo">Tipo de residuo:</label><br>
          <select name="tipo" id="tipo" v-model="newMember.tipo">
            <option value="Papel">Papel</option>
            <option value="Plastico">Plastico</option>
            <option value="Metal">Metal</option>
            <option value="Vidro">Vidro</option>
            <option value="Organico">Organico</option>
            <option value="Nao reciclavel">Nao Organico</option>
          </select>
          <br><br>

          <label for="massa">Massa em toneladas:</label><br>
          <input type="text" id="massa" name="massa" v-model="newMember.massa"><br>

          <label for="volum">Volume em litros:</label><br>
          <input type="text" id="volum" name="volum" v-model="newMember.volum"><br>

          <input type="button" value="Adicionar" @click="addMember">
        </form>
      </section>
    </div>

    <div>
    <!-- Tabela para exibir os totais -->
    <table class="left-align increased-width" style="padding-left: 80px; margin-top: 20px;">
        <thead>
          <tr>
            <th>Total Massa Coletada em Toneladas</th>
            <th>Total Volume Coletado em Litros</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ calcularTotalMassa }}</td>
            <td>{{ calcularTotalVolume }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      members: [],
      newMember: {
        id: null, // Adicione um campo "id" ao novo membro
        fname: "",
        tipo: "",
        massa: "",
        volum: ""
      },
      nextId: 1, // Inicialize o próximo ID como 1
      editingMember: null // Membro que está sendo editado
    };
  },
  methods: {
    addMember() {
      // Atribua o próximo ID ao novo membro
      this.newMember.id = this.nextId;

      axios.post('http://localhost:3000/Cadastro', this.newMember)
        .then(response => {
          console.log('Dados Enviados com Sucesso!')
          console.log(response)
          this.members = response.data;
          this.newMember.fname = "";
          this.newMember.massa = "";
          this.newMember.volum = "";
          this.nextId++; // Incremente o próximo ID
        })
        .catch(error => {
          console.log('Erro ao enviar Dados!', error)
        });
    },
    deleteMember(id) {
      axios.delete(`http://localhost:3000/Cadastro/${id}`)
      .then(response => {
        console.log('Elemento excluído com sucesso!');
        console.log(response);
        // Atualize a lista de membros após a exclusão bem-sucedida
        this.members = this.members.filter(member => member.id !== id);
      })
      .catch(error => {
        console.log('Erro ao excluir elemento!', error);
      });
    },

    // Método para iniciar a edição de um membro
    editMember(member) {
      // Defina o membro sendo editado e preencha o formulário com seus dados atuais
      this.editingMember = {
        id: member.id,
        fname: member.fname,
        tipo: member.tipo,
        massa: member.massa,
        volum: member.volum
      };
    },

    // Método para salvar as alterações no membro editado
    saveEditedMember() {
      // Envie as alterações para o servidor (implemente a lógica de envio)
      axios.put(`http://localhost:3000/Cadastro/${this.editingMember.id}`, this.editingMember)
        .then(response => {
          console.log('Dados Editados com Sucesso!')
          console.log(response)

          // Atualize os dados na lista local
          const index = this.members.findIndex(member => member.id === this.editingMember.id);
          if (index !== -1) {
            this.members[index] = this.editingMember;
          }

          // Limpe o formulário de edição
          this.editingMember = null;
        })
        .catch(error => {
          console.log('Erro ao editar Dados!', error)
        });
    },

    // Método para cancelar a edição e limpar o formulário de edição
    cancelEdit() {
      this.editingMember = null;
    }

  },
  computed: {
    calcularTotalMassa() {
      return this.members.reduce((total, member) => {
        return total + parseFloat(member.massa || 0);
      }, 0);
    },
    calcularTotalVolume() {
      return this.members.reduce((total, member) => {
        return total + parseFloat(member.volum || 0);
      }, 0);
    }
  }
};
</script>

<style scoped>

</style>


<style scoped>
/* Centralize verticalmente */
.center-vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Alinhe à esquerda horizontalmente */
.left-align {
  text-align: center;
}

/* Estilos para a tabela */
.left-align th, .left-align td {
  padding: px;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

.left-align th {
  background-color: #f2f2f2;
}

.increased-width {
  width: 170%; /* Ajuste a largura desejada aqui, por exemplo, 80% */
}

.title {
  font-weight: bold; /* Adicione negrito ao título */
  font-size: 120%;
}


.paragraph {
  
  margin-bottom: 20px; /* Adicione a margem inferior desejada entre os parágrafos */
  margin-top: 20px;
}


</style>
